# ============ Environnement ============
DOCKER_ENV=false

# ============ Base de données PostgreSQL ============
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=devops_db

# ============ Flask ============
SECRET_KEY=your_secret_key_here
FLASK_ENV=development
FLASK_DEBUG=1
